.gcloudignore
.git
.gitignore
node_modules
npm-debug.log
.env
.env.*
*.log
coverage
.DS_Store
.firebase
dist
build
tmp
*.local
tests
**/*.pem
**/*.key
**/*serviceAccount*.json
**/*service-account*.json
